In [3]:
#Try to draw a pattern
n = 6
for i in range(n):
    for j in range(i+1):
        print("jay",end = ' ')
    print()

jay
jay jay
jay jay jay
jay jay jay jay
jay jay jay jay jay
jay jay jay jay jay jay

In [20]:
#Try to draw a star pattern
n =6
for i in range(n):
    
    if i <=3:
        n = i
    else :
        n =6-i
    print(("jay"*n).center(50," "))

                       jay
                      jayjay
                    jayjayjay
                      jayjay
                       jay

In [21]:
# Try to draw a pattern in a decreasing order
n =5
for i in range(5):
    for j in range(i,n):
        print("jay",end =" ")
    print()

jay jay jay jay jay
jay jay jay jay
jay jay jay
jay jay
jay

In [65]:
#try to draw a pattern from right hand side
n =5
for i in range(5):
    for j in range(i,n):
        print(" ",end ="   ")
    for i in range(i+1):
        print("jay",end=" ")
    print()

                    jay
                jay jay
            jay jay jay
        jay jay jay jay
    jay jay jay jay jay

In [72]:
#Try to draw a star pattern
n =6
for i in range(6):
    if i <=3:
        n = i
    else:
        n = 6-i
    print(("jay "*n).center(35,' '))

                jay
              jay jay
            jay jay jay
              jay jay
                jay

In [73]:
  l =[[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3":
            "kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]

In [74]:
# try to extract all the list entity
for i in l:
    if type(i)== list:
        print(i)

[1, 2, 3, 4]
['ineuron', 'data science ']

In [76]:
#Try to exract the all dict entity 
for i in l:
    if type(i) == dict:
        print(i)

{'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8}

In [77]:
#try to extract all the tuple entity
for i in l:
    if type(i) == tuple:
        print(i)

(2, 3, 4, 5, 6)
(3, 4, 5, 6, 7)

In [93]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science '],
 1,
 2,
 3,
 4,
 45,
 4,
 5,
 23,
 3,
 7,
 1,
 2,
 3,
 4,
 45,
 4,
 5,
 23,
 3,
 7,
 1,
 2,
 3,
 4,
 45,
 4,
 5,
 23,
 3,
 7,
 1,
 2,
 3,
 4,
 45,
 4,
 5,
 23,
 3,
 7,
 1,
 2,
 3,
 4,
 45,
 4,
 5,
 23,
 3,
 7]

In [97]:
#try to extract all the numerical data it may be part of anything
for i in l:
    if type(i)== list or type(i)== dict or type(i) == set:
        for j in i:
            if type(j)== int:
                l.append(j)

In [2]:
l =[[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3":
            "kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]

In [4]:
#try to extract all the numerical data it may be part of anything
l1=[]
for i in l:
    if type(i) == list or type(i) == dict or type(i)== tuple:
        for j in i :
            if  type(j) == int:
                l1.append(j)

In [5]:
l1

[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 3, 7]

In [6]:
sum(l1)

65

In [16]:
 l3 =[[265,888,57,88,8],(555,25,5,222,444,66),{"jay":'125',"singh":'552'}]

In [17]:
l4 =[]
for i in l3:
    if type(i) == list or type(i) == dict or type(i)== tuple:
        for j in i:
            if type(j) == int:
                l4.append(j)

In [18]:
l4

[265, 888, 57, 88, 8, 555, 25, 5, 222, 444, 66]

In [21]:
#Try to find a odd value 
for i in l4:
    if i % 2 == 0:
        pass
    else:
        print(i)

265
57
555
25
5

In [20]:
for i in l4:
    if i % 3:
        print(i)

265
88
8
25
5

In [44]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science ']]

In [53]:
#Try to extract the "ineuron "
k =[]
for i in l:
    if type(i) == list or type(i) == tuple or type(i) == dict:
        for j in i:
            if j == "ineuron":
                k.append(j)
    if type(i) == dict:
        for p in i.items():
            for h in p:
                if h == "ineuron":
                    k.append(h)

In [54]:
k

['ineuron', 'ineuron']

In [55]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science ']]

In [58]:
# Try to no. of occurances of all the data
k =[]
for i in l:
    if type(i) == list or type(i) == tuple or type(i) == dict:
        for j in i:
            if type(j)== int or type(j) == str:
                k.append(j)
    if type(i) == dict:
        for p in i.items():
            for h in p:
                if type(h)== int or type(h) == str:
                    k.append(h)

In [59]:
k

[1,
 2,
 3,
 4,
 2,
 3,
 4,
 5,
 6,
 3,
 4,
 5,
 6,
 7,
 'k1',
 'k2',
 'k3',
 3,
 7,
 'k1',
 'sudh',
 'k2',
 'ineuron',
 'k3',
 'kumar',
 3,
 6,
 7,
 8,
 'ineuron',
 'data science ']

In [63]:
set(k)

{1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 'data science ',
 'ineuron',
 'k1',
 'k2',
 'k3',
 'kumar',
 'sudh'}

In [65]:
for i in set(k):
    print(i,":",k.count(i))

1 : 1
2 : 2
3 : 5
4 : 3
5 : 2
6 : 3
7 : 3
k1 : 2
ineuron : 2
kumar : 1
8 : 1
data science  : 1
k2 : 2
k3 : 2
sudh : 1

In [73]:
#Try to find out len of dict
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science ']]

In [74]:
for i in l:
    if type(i) == dict:
        print(len(i))

5

In [75]:
#Try to filter out string in data 
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science ']]

In [78]:
k

[1,
 2,
 3,
 4,
 2,
 3,
 4,
 5,
 6,
 3,
 4,
 5,
 6,
 7,
 'k1',
 'k2',
 'k3',
 3,
 7,
 'k1',
 'sudh',
 'k2',
 'ineuron',
 'k3',
 'kumar',
 3,
 6,
 7,
 8,
 'ineuron',
 'data science ']

In [79]:
#try to filter out str data 
for i in k:
    if type(i)== str:
        print(i)

k1
k2
k3
k1
sudh
k2
ineuron
k3
kumar
ineuron
data science

In [82]:
for i in k:
    if type(i) == str:
        if i.isalnum():
            print(i)

k1
k2
k3
k1
sudh
k2
ineuron
k3
kumar
ineuron

In [96]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science ']]

In [106]:
# Try to multiply all the list element indivisual
for i in l:
    m = 1
    if type(i) == list or type(i) == tuple or type(i) == set:
        for j in i:
            if type(j) == int:
                m = m * j
        print(type(i),m)
    if type(i) == dict:
        for u in i.items():
            for q in u :
                if type(q) == int:
                    m = m * q
            print(type(i) ,m)

<class 'list'> 24
<class 'tuple'> 720
<class 'tuple'> 2520
<class 'set'> 20700
<class 'dict'> 1
<class 'dict'> 1
<class 'dict'> 1
<class 'dict'> 18
<class 'dict'> 1008
<class 'list'> 1